<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        columns="max"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="step-by-step">
            <file>tests/AuthManagerTest.php</file>
            <file>tests/ApiBankTest.php</file>
            <file>tests/ClientWrapperTest.php</file>
            <file>tests/ProductWrapperTest.php</file>
            <file>tests/CardWrapperTest.php</file>
            <file>tests/OperationWrapperTest.php</file>
            <file>tests/ExceptionsTest.php</file>
            <file>tests/ApiBankVersionTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ID" value="card-example" force="true"/>
        <env name="APP_SECRET" value="5638433a-9de8-4af7-a5f3-47db940b102a" force="true"/>
        <env name="LOGIN" value="operator-example" force="true"/>
        <env name="PASSWORD" value="15082020" force="true"/>
        <env name="GENERATE_TOKEN_URL" value="https://stage-0.apibank.club/auth/realms/Physics/protocol/openid-connect/token" force="true"/>
        <env name="REFRESH_TOKEN_URL" value="https://auth.apibank.club/auth/realms/Physics/protocol/openid-connect/token" force="true"/>
        <env name="VERIFY_SSL" value="false" force="true"/>
        <env name="API_URL" value="http://stage-0.apibank.club/physics-v3/api/v3/" force="true"/>
        <env name="WEBHOOK_URL" value="http://example.com/send_postback_here" force="true"/>
        <env name="USER_BIRTH_COUNTRY" value="Russia" force="true"/>
        <env name="USER_BIRTH_CITY" value="Moscow" force="true"/>
        <env name="USER_PASSPORT_DIV" value="500-180" force="true"/>
        <env name="USER_PASSPORT_INFO" value="Отделом УФМС России по Челябинской области в Орджоникидзевском районе г. Магнитогорска" force="true"/>
        <env name="USER_REAL_ADDRESS" value="416356, г. Кош-Агач, ул. Филевская Б., дом 33, квартира 94" force="true"/>
        <env name="USER_REG_ADDRESS" value="171954, г. Советский, ул. Арбатская пл, дом 8, квартира 192" force="true"/>
        <env name="USER_POST_ADDRESS" value="412811, г. Острогожское, ул. Пилотов, дом 14, квартира 189" force="true"/>
        <env name="USER_PHONE" value="9154422453" force="true"/>
        <env name="USER_SURNAME" value="Begins" force="true"/>
        <env name="USER_NAME" value="Froddo" force="true"/>
        <env name="USER_PATRONYMIC" value="Vlastelinovich" force="true"/>
        <env name="USER_PASSPORT" value="4551197707" force="true"/>
        <env name="USER_PASSPORT_DATE" value="03.07.2000" force="true"/>
        <env name="USER_BIRTHDATE" value="03.08.1990" force="true"/>
        <env name="USER_SNILS" value="15498979561" force="true"/>
        <env name="USER_CONTROL_INFO" value="qwerty" force="true"/>
    </php>
</phpunit>